.DS_Store
*.log

node_modules/
.class
.py[cod]
.jar
target/
.idea/
TEST*.xml
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

storage/framework/*
storage/cms/twig/*
storage/cms/combiner/*
storage/cms/cache/*
storage/logs/system.log
storage/framework/cache/*
#storage/app/uploads/**
#storage/temp/public/**