title = "Blog Kiper"
url = "/blog"
layout = "layout"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 9
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-kiper"
postPage = "nota"

[blogPosts blogPupulares]
pageNumber = "{{ :page }}"
categoryFilter = "populares"
postsPerPage = 4
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-kiper"
postPage = "nota"
==
{% set populares = blogPupulares.posts %}

<section class="blogSec">
  <div class="blogSec__main">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9">
          {% component 'blogPosts' %}
        </div><!-- end.col-* -->
        <div class="col-md-3">
          <div class="popularesCt">
            <h2>¡Hola!</h2>
            <hr>
            <h5>Post Populares</h5>
        {% for popular in populares %}
            <div class="boxBlog boxBlog--small">
          {% if popular.featured_images.count %}
              <div class="boxBlog__image">
              {% for image in popular.featured_images %}
                <img src="{{ image.path }}" alt="{{ popular.title }}">
              {% endfor %}
                <a href="{{ popular.url }}" class="boxBlog__link">Leer más</a>
              </div>
          {% endif %}
              <div class="boxBlog__desc">
                <h4><a href="{{ popular.url }}">{{popular.title}}</a></h4>
              </div><!-- end.boxBlog__image -->
            </div><!-- end.boxBlog -->
        {% endfor %}
            <hr>
            <div class="popularesCt__news">
              <h2>Únete a nuestro newsletter</h2>
              <div class="formNews">
                <form action="">
                  <input type="email" class="inputNews" required name="email" id="email" placeholder="Tu email">
                  <input type="submit" class="inputBtn" value="Enviar">
                </form>
              </div>
            </div>
          </div><!-- end.popularesCt -->
        </div><!-- end.col-* -->
      </div><!-- end.row --> 
    </div><!-- end.container --> 
  </div><!-- end.blogSec__main -->
  <img src="{{ 'assets/img/graphic.svg'|theme }}" alt="Grafico Kiper" class="graphic">
</section>