.g-footer {
  width: 100%; height: auto; padding: 0; background-color: $rojo; padding: 25px 0; margin: 0; z-index: 3; position: relative; @include box-sizing(border-box);
  &__box {
    width: 100%; height: auto; margin: 0; padding: 0; @include box-sizing(border-box);
    & .followfoot {
      padding: 0; margin: 0 0 10px; text-align: center; color: $white; font-family: 'Gotham-Light'; font-weight: 400; line-height: 1; font-size: rem(13px);
      @media all and (min-width: 768px) {
        text-align: left;
      }
    }
    &--brand {
      text-align: center; margin-bottom: 16px;
      & .linklogo {
        display: block; width: 100%; height: auto; padding: 0; margin: 0 0 5px;
        & img {
          display: block; width: 100%; max-width: 127px; height: auto; padding: 0; margin: 0 auto; object-fit: contain; font-family: 'object-fit: contain';
        }
        & .site-title-footer {
          font-size: 0; text-indent: -9999px; color: $white; opacity: 0; margin: 0; padding: 0;
        }
      }
      & .desclink {
        padding: 0; margin: 0; text-align: center; color: $white; font-family: 'Gotham-Light'; font-weight: 400; line-height: 1;
        & a {
          @include fluid-type(10px, 13px, 320px, 1200px); color: $white; text-decoration: none;
        }
      }
      @media all and (min-width: 768px) {
        margin-bottom: 0;
        & .linklogo {
          margin: 0 0 15px;
        }
      }
    }
    &--socfoot {
      list-style-type: none; @include display(flex); @include justify-content(center); @include flex-direction(row); @include align-items(center); margin-bottom: 15px;
      & li {
        list-style-type: none; padding: 0; margin: 0 10px 0 0;
        & a {
          & img {
            display: inline-block; margin: 0; padding: 0;
          }
        }
        &:last-child {
          margin: 0;
        }
      }
      @media all and (min-width: 768px) {
        @include justify-content(flex-start);
      }
    }
    &--items {
      list-style-type: none; @include display(flex); @include justify-content(center); @include flex-direction(column);
      & li {
        list-style-type: none; padding: 0; margin: 0 0 5px;
        & a {
          padding: 0; margin: 0; text-align: center; color: $white; font-family: 'Gotham-Light'; font-weight: 400; line-height: 1; text-decoration: none; display: block; @include fluid-type(10px, 13px, 320px, 1200px);
        }
        &:last-child {
          margin: 0;
        }
      }
      @media all and (min-width: 768px) {
        @include justify-content(flex-start);
        & li {
          & a {
            text-align: left;
          }
        }
      }
    }
    &--info {
      list-style-type: none; @include display(flex); @include justify-content(center); @include flex-direction(column); margin-bottom: 16px;
      & li {
        list-style-type: none; padding: 0; margin: 0 0 8px;
        & a {
          padding: 0; margin: 0; text-align: center; color: $white; font-family: 'Gotham-Light'; font-weight: 400; line-height: 1; text-decoration: none; display: block; @include fluid-type(10px, 13px, 320px, 1200px);
        }
        &:last-child {
          margin: 0;
        }
      }
      @media all and (min-width: 768px) {
        @include justify-content(flex-end); margin-bottom: 0;
        & li {
          margin: 0 0 20px;
          & a {
            text-align: right;
          }
        }
      }
    }
  }
}